{% extends 'FdaBoardBundle::layout.html.twig' %}

{% block content -%}
    <h1>{{ 'board.plural'|trans }}</h1>

    {% include 'FdaBoardBundle:Board:_table.html.twig' %}

    <a href="{{ path('board_new') }}" class="btn btn-primary">
        <i class="fa fa-plus"></i> {{ 'board.new'|trans }}
    </a>
{% endblock %}
