{% extends 'FdaRefereeBundle::layout.html.twig' %}

{% block content -%}
    {% for player in players %}
        <form action="{{ path('ledger_set_owner') }}" method="post">
            <input type="hidden" name="id" value="{{ player.id }}">
            <button type="submit">
                {{ player.name }}
            </button>
        </form>
    {% endfor %}
{% endblock %}
