{% extends 'FdaRefereeBundle::layout.html.twig' %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-heading">{{'referee.board.choose'|trans}}</div>
        <div class="panel-body">
            {% for board in boards %}
                <form action="{{ path('ledger_set_board') }}" method="post">
                    <input type="hidden" name="id" value="{{ board.id }}">
                    <button type="submit" class="btn btn-default">
                        {{ board_label(board) }}
                    </button>
                </form>
            {% endfor %}
        </div>
    </div>
{% endblock %}
