{% extends 'FdaDsbBundle::layout.html.twig' %}

{% block content %}
    {% include 'FdaTournamentBundle:Tournament:_box.html.twig' %}

    {% set check_roles = [
        'IS_AUTHENTICATED_ANONYMOUSLY',
        'ROLE_GUEST',
        'ROLE_USER',
        'ROLE_SPECTATOR',
        'ROLE_BIG_SCREEN',
        'ROLE_REFEREE',
        'ROLE_ADMIN'
    ] %}
    {% for rr in check_roles %}
        {% if is_granted(rr) %}
            <span class="label label-success">{{ rr }}</span>
        {% else %}
            <span class="label label-danger">{{ rr }}</span>
        {% endif %}
    {% endfor %}
{% endblock content %}
