{% extends 'FdaDsbBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Hello FDA!</h1>
            <div class="well">test test test?</div>
        </div>
    </div>
{% endblock content %}
