<div class="panel panel-default">
    <div class="panel-heading">
        {{ board_label(board) }}
    </div>
    <div class="panel-body board-info" data-board-id="{{ board.id }}">
        loading...
    </div>
</div>
