<div class="panel panel-default">
    <div class="panel-heading">
        {{ player_label(game.player1) }}
        vs
        {{ player_label(game.player2) }}
    </div>
    <div class="panel-body">XXX</div>
</div>