<table class="table">
    <tbody>
    <tr>
        <td>gamesWonToPlayer</td>
    </tr>
    {#{% for won,playerId in tournament.gamesWonToPlayer %}#}
        {#<tr>#}
            {#<td>{{ won }}</td>#}
            {#<td>{{ player_link(playerId) }}</td>#}
        {#</tr>#}
    {#{% endfor %}#}
    </tbody>
</table>