{% extends 'FdaPlayerBundle::layout.html.twig' %}

{% block content -%}
    {% include 'FdaTournamentBundle:Tournament:_box.html.twig' %}

    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-beer"></i> {{'tournament.plural'|trans}}</div>
        {% include 'FdaTournamentBundle:Tournament:_table.html.twig' %}
    </div>
{% endblock %}
