{% extends 'FdaPlayerBundle::layout.html.twig' %}

{% block content -%}
    <h1 class="page-header">{{ player_label(player) }} <small>{{'player.edit'|trans}}</small></h1>

    {{ form(edit_form) }}
{% endblock %}
