{% extends 'FdaPlayerBundle::layout.html.twig' %}

{% block content -%}
    <h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('player_edit', { 'id': player.id }) }}">
                <i class="fa fa-edit"></i>
                {{'player.edit'|trans}}
            </a>
        {% endif %}
        {{ player_label(player) }}
    </h1>

    {% include 'FdaPlayerBundle:Player:_about.html.twig' %}
{% endblock %}
